# Obsidian specific
.obsidian/workspace
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/
.obsidian/indexed*

# Optional: Ignore all settings if you want a fresh start on each device
# .obsidian/

# OS specific files
.DS_Store
Thumbs.db

# Obsidian trash folder
.trash/
